.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#rcorners1 {
    border-radius: 25px;
    background: #73ADFF;
    padding: 15px;
    width: 300px;
}

#rcorners2 {
    border-radius: 25px;
    background: #73ADFF;
    padding: 15px;
    width: 300px;
    height: 320px;
}

#error {
    color: red;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    background: white;
}